# General
.DS_Store
.AppleDouble
.LSOverride
.idea/
.vscode/
*.log

# Python / Backend
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
env.bak/
venv.bak/
*.db
*.sqlite3
backend/uploads/
backend/site/

# Node / Frontend
node_modules/
dist/
build/
.angular/
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings/

# Project Specific
client_secret_*.json
credentials.json
token.json

gemini/*